<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dog: <%= dog.name %></title>
</head>
<body>
    <h1>Edit Dog: <%= dog.name %></h1>
    <form action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= dog.name %>" required><br><br>

        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" value="<%= dog.breed %>" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="<%= dog.age %>" required><br><br>
        <label for="isVaccinated">Is Vaccinated:</label>
        <input type="checkbox" name="isVaccinated" id="isVaccinated" <%=dog.isVaccinated ? 'checked' : '' %>
        >
        <br>
        <br>
        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image" value="<%= dog.image %>">
        <br><br>
        <button type="submit">Update Dog</button>
    </form>
    <br>
    <a href="/dogs/<%= dog._id %>">Back to Dog Details</a>
</body>
</html>